<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Tugas Node Js Stechoq</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <div class="title">
            <h1>MANAJEMEN DATA MAHASISWA</h1>
        </div>
        <div class="riwayat">
            <a href="/riwayat">Riwayat</a>
        </div>
        <form action="/" method="post" class="formAdd">
            <div class="titleForm">
                <small>
                    Tambah Data Mahasiswa
                </small>
            </div>
            <div class="nama">
                <label for="nama">Nama</label>
                <input type="text" name="nama" placeholder="masukkan nama" autocomplete="off" required>
            </div>
            <div class="nim">
                <label for="nim">Nim</label>
                <input type="text" name="nim" placeholder="masukkan nim" autocomplete="off">
            </div>
            <div class="noTelpon">
                <label for="noTelpon">Nomor Telpon</label>
                <input type="tel" name="noTelpon" placeholder="masukkan nomor telpon" pattern="(0)8[1-9][0-9]{6,9}$" required autocomplete="off">
            </div>
            <div class="button">
                <button type="submit" >Tambah</button>
            </div>
        </form>

        <div class="search">
            <form action="/" method="get">
                <input type="text" name="nama" autocomplete="off" required placeholder="Masukkan nama">
                <button type="submit">Cari</button>
            </form>
            <div class="sort">
                <i class="fa-solid fa-arrow-up-a-z"></i>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Nama</th>
                    <th>Nim</th>
                    <th>Nomor Telpon</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <% if(result.length > 0){%>
                    <% for(let sult of result){%>
                        <tr>
                            <td><%= sult.nama %></td>
                            <td><%= sult.nim %></td>
                            <td><%= sult.noTelpon %></td>
                            <td>
                                <form action="/<%= sult.nim %>?_method=DELETE" method="post">
            
                                        <button class="delete" onclick="alert('yakin ingin menghapus?')">Delete</button>
                                </form>
                            </td>
                        </tr>
                   <% } %> 
                <% } else { %>
                    <tr>
                        <td colspan="4"><%= noData %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>

    <script src="./javascript/script.js"></script>
</body>
</html>